{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}
    <style>

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        .bg-skieur{
            background-image: url("{{ asset('medias/bg-skieur.png') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 50%;
        }

        .wave{
            background-image: url("{{ asset('medias/Wave.png') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 45vh;
        }

        .wave2{
            background-image: url("{{ asset('medias/wave2.png') }}");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 20vh;
            position: relative;
            bottom: 110px;
        }
    </style>
    <!--  HEADER -->
    <div class="bg-[#496C90] h-screen">

        <div class="flex flex-row h-full">

            <div class="w-[50%] relative bg-[#496C90] flex h-full">
                <div class="w-10/12 mx-auto h-full flex flex-col mt-4">
                    <img class="w-[12vw] -ml-8 -mb-2 " src="{{ asset('medias/skieur.png') }}" alt="">
                    <h1 class="  text-[6rem] text-white font-bold -mb-2 "> SKI & CO </h1>
                    <p class=" font-thin tracking-wide text-white w-8/12 text-[20px] ">
                        Découvrez notre site et vivez des moments inoubliables sur les pistes enneigées !
                    </p>

                    <button onclick="" class= "font-thin mt-8 bg-white text-[#637C96] text-2xl rounded-full rounded-tl-none py-4 w-max px-8">
                        RÉSERVEZ MAINTENANT
                    </button>

                </div>

                <img class=" w-full  absolute flex bottom-0 left-0  h-[50%] object-cover" src="{{ asset('medias/mountains.png') }}" alt="">

            </div>

            <div class="bg-skieur ">
                <ul class="flex flex-row text-[2.5vh] justify-around items-center mt-7 gap-[-5px] text-white  ">

                    <li><a href="#">Accueil</a></li>
                    <li><a href="#"> Nos Services</a></li>
                    <li><a href="#">Nos Stations</a></li>
                    <li><a href="#">Application</a></li>
                    <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>

                </ul>

            </div>

        </div>
        <!--  FIN HEADER -->

        <!--  PARTIE SERVICES -->

        <div class="SERVICES">


            <div class="bg-[#496C90] h-[80vh]">
            <span class="mt-4 text-white border-b-[5px] px-[8%] rounded-[2px]">
            </span>
                <div class= "font-thin mx-[25px] bg-white text-[#637C96] text-2xl rounded-full rounded-tl-none py-2 w-max px-8 mt-4">
                    SERVICES
                </div>


                <div class="flex flex-row justify-center items-center">

                    <div class="flex flex-row justify-center items-center w-[85vw] ">

                        <div class="flex flex-col gap-4 text-white">
                            <img class=" mx-[40%] w-[89px]" src="{{ asset('medias/money.png') }}" alt="">
                            <h2 class="text-center"> MEILLEUR PRIX</h2>
                            <p>Prenez vos places dès maintenant La réservation sur le site officiel garantit le meilleur prix.</p>

                        </div>


                        <div class="flex flex-col gap-6 text-white">
                            <img class=" mx-[40%] w-[89px]" src="{{ asset('medias/pass.png') }}" alt="">
                            <h2 class="text-center"> SKI PASS</h2>
                            <p>Réservez un logement et bénéficiez de conditions avantageuses pour votre forfait de ski.</p>

                        </div>


                        <div class="flex flex-col gap-3 text-white">
                            <img class=" mx-[36%] w-[89px]" src="{{ asset('medias/services.png') }}" alt="">
                            <h2 class="text-center text-[1.1rem] "> SERVICES </h2>
                            <p>Service clientèle par téléphone avant et pendant votre séjour.</p>

                        </div>


                    </div>


                </div>

        </div>

            <!-- FIN PARTIE SERVICES -->

            <!--  PARTIE STATIONS -->

            <div class="wave">

            </div>
            <div class= "font-thin mx-[25px] bg-[#496C90] text-white text-2xl rounded-full rounded-tl-none py-2 w-max px-8">
                STATIONS
            </div>

        <div class="STATIONS">

            <div class="flex flex-row justify-center items-center gap-0.5 mt-[55px] text-[#112748]">

        <div class="flex flex-col gap-4 justify-center items-center ">
            <img class=" w-[95%]" src="{{ asset('medias/saisie.png') }}" alt="">
            <a href="{{ path('app_piste') }}">  <h2 class=" font-bold text-center text-[1.1rem]"> Les Saisies </h2> </a>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center ">
            <img class=" w-[95%]" src="{{ asset('medias/crest.png') }}" alt="">
            <a href="{{ path('app_piste') }}">  <h2 class=" font-bold text-center text-[1.1rem]"> Crest-Volant Cohennoz </h2> </a>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center ">
            <img class=" w-[95%]" src="{{ asset('medias/notre_dame.png') }}" alt="">
            <a href="{{ path('app_piste') }}">  <h2 class=" font-bold text-center text-[1.1rem]"> Notre-Dame-de-Bellecombe </h2> </a>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center ">
            <img class=" w-[95%]" src="{{ asset('medias/parly.png') }}" alt="">
            <a href="{{ path('app_piste') }}">  <h2 class=" font-bold text-center text-[1.1rem]"> Praz-sur-Arly </h2> </a>
        </div>

        <div class="flex flex-col gap-4 justify-center items-center ">
            <img class=" w-[95%]" src="{{ asset('medias/flumet.png') }}" alt="">
            <a href="{{ path('app_piste') }}">  <h2 class="font-bold text-center text-[1.1rem]"> Flumet </h2> </a>
        </div>

    </div>


</div>
            <!--  FIN PARTIE STATIONS -->


            <div class="flex flex-row justify-left gap-[30vw] mt-[30vh] ml-8 ">

                <div class="flex flex-col justify-left gap-8 ">

                    <h1 class="text-[5rem] text-[#496C90] font-bold">
                        Application
                    </h1>
                    <p>Téléchargez l’app et ne manquez rien</p>

                    <div class="flex flex-row gap-4 w-full">
                        <button onclick="" class= "font-thin bg-[#496C90] text-white rounded-[15px] py-2 px-8">
                            <div class="flex flex-row gap-4">
                                <img src="{{ asset('medias/apple.png') }}" alt="">
                                <div class="flex flex-col">
                                    <span class="text-center text-[12px]"> Télécharger sur </span>
                                    <span class="text-2xl"> Apple Store </span>
                                </div>
                            </div>
                        </button>

                        <button onclick="" class= "font-thin bg-[#496C90] text-white rounded-[15px] py-2 px-8">
                            <div class="flex flex-row gap-4">
                                <img src="{{ asset('medias/appstore.png') }}" alt="">
                                <div class="flex flex-col">
                                    <span class="text-center text-[12px]"> Télécharger sur </span>
                                    <span class="text-2xl"> Play Store </span>
                                </div>
                            </div>
                        </button>


                    </div>

                </div>

                <img src="{{ asset('medias/male_iphone.png') }}" alt="">

            </div>
            <div class="wave2">

            </div>

        </div>

</div>

{% endblock %}
